/* Imports */

@import url('https://fonts.googleapis.com/css2?family=M+PLUS+2:wght@300;400;500;600;700;800&display=swap');

/* Global Modifiers */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'M PLUS 2', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--black);
}

:root {
    --black: #000000;
    --black-tint: #090909;
    --error-red: #F44336;
    --white: #FFFFFF;
    --grey: #bbbbbb;
}

/* Custom Scrollbar */

::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 12px rgba(0,0,0,0.3);
    background-color: #EDECE9;
}

::-webkit-scrollbar
{
    width: 8px;
    background-color: #EDECE9;
}

::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 12px rgba(0,0,0,.3);
    background-color: #D3D1CB;
}

/* Error Page Styling */

.error-page {
    display: block;
    width: 100%;
    height: 100vh;
    margin: auto;
    background-color: var(--error-red);
    color: var(--white);
    text-align: center;
}

.error-page button {
    font-size: 18px;
    margin: 12px;
    padding: 6px;
    color: var(--white);
    background: none;
    border: none;
    cursor: pointer;
}

.error-page button:hover {
    text-decoration: underline;
}

.error-spacer {
    display: inline-block;
    margin: 6px;
    height: 2px;
    width: 512px;
    background-color: var(--white);
}

/* Reused Classes */

.container {
    max-width: 1024px;
    margin: auto;
}

/* Navigation Bar */

.nav-main {
    z-index: 99;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    background-color: var(--black);
}

.header-button {
    margin-right: 24px;
    padding: 6px 20px;
    border: none;
    outline: none;
    color: var(--black);
    cursor: pointer;
    position: relative;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
}

.header-button:hover {
    box-shadow: 0 0 20px 2px var(--white);
    transition: box-shadow 0.2s ease
}

.header-button-mobile {
    margin-bottom: 24px;
    padding: 6px 20px;
    border: none;
    outline: none;
    color: var(--black);
    cursor: pointer;
    position: relative;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
}

.header-button-mobile:hover {
    box-shadow: 0 0 20px 2px var(--white);
    transition: box-shadow 0.2s ease
}

.nav-logo-link {
    padding-left: 24px;
    cursor: pointer;
    z-index: 99;
}

.nav-links {
    padding: 12px;
    list-style: none;
    display: flex;
    white-space: nowrap;
}

.nav-links li {
    padding-left: 20px;
    margin-right: 20px;
}

.nav-links li:last-child {
    margin-right: 40px;
}

.nav-links li,
.nav-links li a,
.nav-deco {
    font-size: 18px;
    font-weight: 500;
    color: var(--white);
    text-decoration: none;
    transition: color 0.3s ease 0s;
}

.nav-links li a:hover {
    color: var(--grey);
}

.nav-selected {
    height: 3px;
    background-color: var(--white);
    transition: color 0.3s ease 0s;
    margin-top: 4px;
}

/* Mobile Navigation */

.burger {
    position: absolute;
    display: block;
    right: 0;
    margin-right: 32px;
    cursor: pointer;
    width: 48px;
    height: 48px;
    background: none;
    outline: none;
    border: none;
    z-index: 98;
}

.burger .bar, .burger:after, .burger:before {
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    background-color: var(--white);
    margin: 8px 0;
    transition: 0.4s;
}

.burger.is-active:before {
    transform: rotate(-45deg) translate(-9px, 9px);
}

.burger.is-active:after {
    transform: rotate(45deg) translate(-9px, -9px);
}

.burger.is-active .bar {
    opacity: 0;
}

.mobile-nav {
    position: fixed;
    top: 0;
    left: 120%;
    width: 100%;
    height: 100%;
    list-style-type: none;
    display: block;
    background-color: var(--black);
    padding-top: 102px;
    z-index: 97;
    transition: 0.4s;
}

.mobile-nav li,
.mobile-nav a{
    padding-top: 25px;
    color: var(--white);
    text-decoration: none;
}

.mobile-nav a:hover {
    color: var(--grey);
}

.mobile-nav.is-active {
    left: 0;
}

.mobile-nav .nav-selected {
    height: 3px;
    background-color: var(--white);
    transition: color 0.3s ease 0s;
    margin-top: 8px;
    width: 100%;
    display: block;
}

.nav-main-mobile {
    text-align: center;
    padding: 12px;
    list-style: none;
    display: flex;
    white-space: nowrap;
    flex-direction: column;
}

.nav-main-sub-mobile {
    padding-top: 24px;
}

/* Single Section */

.single-section {
    background-color: var(--black-tint);
    list-style: none;
    padding: 24px 0;
    margin-left: 12px;
    margin-right: 12px;
}

.single-section-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.single-section-column h2 {
    font-size: 32px;
    font-weight: 600;
    position: relative;
    color: var(--white);
    text-align: center;
}

.single-section-column h3 {
    font-size: 24px;
    font-weight: 600;
    position: relative;
    color: var(--white);
    text-align: center;
}

.single-section-column p {
    display: block;
    font-size:  16px;
    font-weight: 400;
    color: var(--white);
    text-align: center;
}

.single-section-column img {
    width: 100%;
    height: auto;
}

.single-section-column button {
    width: 100%;
    padding: 6px 20px;
    margin-bottom: 12px;
    border: none;
    outline: none;
    color: var(--black);
    cursor: pointer;
    position: relative;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
}

.single-section-column button:hover {
    box-shadow: 0 0 20px 2px var(--white);
    transition: box-shadow 0.2s ease
}

/* Login Form */
.login-form form {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.form-input {
    width: 300px;
    margin: 8px;
    font-size: 14px;
    font-weight: 600;
    color: #0e0e0e;
    padding: 4px;
    border-color: #0e0e0e;
    border-style: solid;
    border-radius: 4px;
}

.error-message {
    font-size: 14px;
    font-weight: 600;
    color: var(--error-red);
    padding-bottom: 8px;
}

.valid:after {
    position: relative;
    right: -16px;
    content: "✔";
}

.invalid:after {
    position: relative;
    right: -16px;
    content: "✖";
}

.password_check {
    display: none;
    box-sizing: unset;
    padding: 0;
    margin: 0;
}

.password_confirm_check {
    display: none;
    box-sizing: unset;
    padding: 0;
    margin: 0;
}

.email_check {
    display: none;
    box-sizing: unset;
    padding: 0;
    margin: 0;
}

.username_check {
    display: none;
    box-sizing: unset;
    padding: 0;
    margin: 0;
}

.login-form a {
    font-size: 14px;
    font-weight: 600;
    color: var(--white);
    cursor: pointer;
}

.login-form a:hover {
    color: var(--grey);
    transition: all 0.5s;
}

/* Lesson Block */

.lesson-block,
.lesson-block-red {
    margin: 24px;
    padding: 12px;
    cursor: pointer;
    border: 3px solid var(--white);
    border-radius: 24px;
}

/* Basket Block */
.basket-block {
    margin-left: 48px;
    margin-right: 48px;
    padding: 12px;
    cursor: pointer;
    border: 3px solid var(--white);
    color: var(--white);
    border-radius: 24px;
    align-content: center;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* Double Section */

.double-section {
    width: 100%;
    padding: 32px 0;
    background-color: var(--black-tint);
}

.double-section-row {
    display: flex;
    flex-wrap: wrap;
}

.double-section-column {
    width: 50%;
    padding: 0 48px;
}

.double-section-column img {
    width: 100%;
    height: auto;
    border-radius: 5%;
}

.double-section-column h2 {
    font-size: 32px;
    margin-bottom: 16px;
    font-weight: 600;
    color: var(--white);
    position: relative;
}

.double-section-column h2::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    height: 3px;
    background-color: var(--white);
    width: 100%;
}

.double-section-column p {
    display: block;
    font-size:  16px;
    font-weight: 400;
    color: var(--white);
}

.double-section-column button {
    width: 100%;
    padding: 6px 20px;
    margin-bottom: 12px;
    border: none;
    outline: none;
    color: var(--black);
    cursor: pointer;
    position: relative;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
}

.double-section-column button:hover {
    box-shadow: 0 0 20px 2px var(--white);
    transition: box-shadow 0.2s ease
}

/* Triple Section */

.triple-section {
    width: 100%;
    padding: 32px 0;
    background-color: var(--black-tint);
}

.triple-section-row {
    display: flex;
    flex-wrap: wrap;
}

.triple-section-column {
    width: 33%;
    padding: 0 24px;
    margin-bottom: 32px;
}

.triple-section-column img {
    width: 100%;
    height: auto;
}

.triple-section-column h2 {
    font-size: 32px;
    margin-bottom: 16px;
    font-weight: 600;
    color: var(--white);
    position: relative;
}

.triple-section-column h2::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    height: 3px;
    background-color: var(--white);
    width: 100%;
}

.triple-section-column p {
    display: block;
    font-size:  16px;
    font-weight: 400;
    color: var(--white);
}

.triple-section-column button {
    width: 100%;
    padding: 6px 20px;
    margin-bottom: 12px;
    border: none;
    outline: none;
    color: var(--black);
    cursor: pointer;
    position: relative;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
}

.triple-section-column button:hover {
    box-shadow: 0 0 20px 2px var(--white);
    transition: box-shadow 0.2s ease
}

/* Footer */

.footer {
    background-color: var(--black);
    list-style: none;
    padding: 24px 0;
}

.footer-row {
    display: flex;
    flex-wrap: wrap;
}

.footer-column {
    width: 25%;
    padding: 0 24px;
}

.footer-column h2 {
    font-size: 18px;
    color: var(--white);
    margin-bottom: 16px;
    font-weight: 600;
    position: relative;
}

.footer-column h2::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    height: 3px;
    background-color: var(--white);
    width: 100%;
}

.footer-column ul li:not(:last-child) {
    margin-bottom: 6px;
}

.footer-column ul li p {
    display: block;
    font-size:  14px;
    color: var(--white);
    font-weight: 400;
    transition: padding-left 0.5s ease;
}

.footer-column ul li a {
    display: block;
    font-size:  14px;
    color: var(--white);
    font-weight: 400;
    transition: padding-left 0.5s;
}

.footer-column ul li a:hover {
    color: var(--grey);
    padding-left: 4px;
    transition: all 0.5s;
}

.footer-column .footer-social a {
    display: inline-block;
    height: 32px;
    width: 32px;
    background-color: var(--white);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 32px;
    border-radius: 50%;
    color: var(--black);
    transition: background-color 0.5s;
}

.footer-column .footer-social a:hover {
    background-color: var(--grey);
    transition: all 0.5s;
}

/* Responsiveness */

@media screen and (max-width: 884px) {
    .nav-main {
        display: none;
    }
}

@media screen and (min-width: 884px) {
    .mobile-nav {
        display: none;
    }
    .burger {
        display: none;
    }
}

@media (max-width: 768px) {
    .footer-column {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media (max-width: 574px) {
    .footer-column {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .double-section-column {
        width: 100%;
        margin-bottom: 30px;
    }
}

@media (max-width: 768px) {
    .triple-section-column {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media (max-width: 574px) {
    .triple-section-column {
        width: 100%;
    }
}